html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.hero {
  background: #0d3b66;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons > button {
  background: #1e88e5;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background: #1565c0;
}

section {
  width: 100%;

  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #0d3b66;
}

.lang {
  position: fixed;
  top: 10px;
  right: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: #0d3b66;
  color: white;
}

.img-language {
  width: 50px;
  height: 30px;
  border-radius: 7px;
  display: inline-block;
  margin: 5px 7px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.img-language:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}

ul span {
  font-size: 1.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.innehåll {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin: 30px auto;

}

.innehåll img {
  width: 500px;
  
  
}

.card-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

}

.card-text h2 {
  text-align: center;
}

.card-text p {
  margin: 0 auto;
  width: 450px;
  line-height: 30px;
}

@media  (max-width: 1090px) {
  .innehåll {
    display: flex;
    flex-direction: column;
   
  }

  .card-text {
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 0 auto;
  }

  .card-text h2 {
    margin-bottom: 30px;
  }

  .card-text p {
    width: 500px;
  }
}