html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  scroll-behavior: smooth;
}

.hero {
  background: #0d3b66;
  color: white;
  padding: 80px 20px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons > button {
  background: #1e88e5;
  color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background: #1565c0;
}

.section {
  padding: 80px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #0d3b66;
}

.lang {
  position: fixed;
  top: 10px;
  right: 10px;
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: #0d3b66;
  color: white;
}

.img-language {
  width: 50px;
  height: 30px;
  border-radius: 7px;
  display: inline-block;
  margin: 5px 7px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.img-language:hover {
  transform: scale(1.1);
}
